<h1>Top#index</h1>
<p>Find me in app/views/top/index.html.erb</p>
<%# <% @articles.each do |article| %>
  <%# <%= article.title %>
<%# <% end %>

<%# <%= article_link(@article) %>
 <script src="script.js"></script>