<div class="wrapper">
  <div class="contents">
    <div clss="header">
      <h1>Article-Community</h1>
      <p>Find me</p>
    </div>
  </div>
  <div class="middle">
    <div class="middle__left">
    </div>
  </div>
  <script src="script.js"></script>
 </div>